h1 {
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
}

.container {
  height: 100vh;
}

#img-aggiungi-spesa {
  height: 15vh;
  width: 50vw;
  background-image: url(./media/marketplace.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto;
}

#carrello-spesa {
  background-image: url(./media/54302312-icona-del-carrello.jpg);
  height: 50vh;
  width: 50vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0 auto;
}

#msg-acquisto {
  padding: 0.5rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

#hai-finito-i-soldi {
  background-image: url(./media/broke-poor.gif);
  display: none;
  height: 50vh;
  width: 50vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0 auto;
}

#saldo {
  padding: 0.5rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}
